*{
    margin: 0;
    padding: 0;
    font-family: 'Poppings', sans-serif;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-timeline: --page-scroll block;
    scroll-behavior: smooth;
}

:root{
    --background-color-light: #F5F5F5;
    --text-color-light: #000;
    transition: background-color 0.3s ease, color 0.3s ease;
}
  
    [data-theme="light"]{
    background-color: var(--background-color-light);
    color: var(--text-color-light);
}

:root{
    --background-color-dark: #1A1A1A;
    --text-color-dark: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

    [data-theme="dark"]{
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}


.body{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    overflow-x: hidden;
}

.body section{
    display: block;
    width: 100%;
}

.back-to-top{
    position: absolute;
    z-index: 5;
    opacity: 0; 
    transition: opacity 0.5s ease; 
    pointer-events: none; 
}

.back-to-top a{
    background-color: #1A1A1A;
    color: #F5F5F5;
    position: fixed;
    align-self: center;
    bottom: -10px;
    right: 20px;
    padding: 8px 13px;
    border-radius: 100px 100px 0 0;
    font-size: clamp(4rem, 7vw, 5rem);
    width: clamp(6rem, 8vw, 7rem);
    height: clamp(6rem, 8vw, 7rem);
    text-align: center;
    line-height: 1;
    transition: background-color 0.3s ease, color 0.3s ease;
}

[data-theme="dark"] .back-to-top a{
    background: #F5F5F5; 
    color: #1A1A1A;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.back-to-top a:hover{
    transform: translateY(-10%);
    transition: 0.2s;
}

.back-to-top.show{
    opacity: 1; 
    pointer-events: auto; 
}


/*--------------------------------------------------------header-------------------------------------------------------------------*/
#header{
    position: relative;
    padding: 0 0 20px 0;
    display: flex;
    flex-direction: column;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #B00000;
    position: fixed;
    height: 78px;
    width: 100%;
    top: 0;
    z-index: 5;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-placeholder {
    height: 78px;
}

[data-theme="dark"] .navbar{
    background: #FF3131;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.logo{
    flex-grow: 0.8;
}

.logo a{
    font-size: 3vw;
    font-weight: bold;
    color: #F5F5F5;
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s;
}

.logo a:hover{
    color: #1A1A1A;
}

.menu-list{
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu-item{
    position: relative;
}

#nav-link{
    color: #F5F5F5;
    text-decoration: none;
    font-size: 1.3vw;
    padding: 5px 10px;
    transition: color 0.3s, background-color 0.3s;
}

#nav-link:hover{
    color: #1A1A1A;
    border-radius: 5px;
}

.dropdown-menu{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #FF3131;
    padding: 10px 0;
    list-style: none;
    display: none;
    flex-direction: column;
    width: auto;
    min-width: 300px;
    border-radius: 5px;
    z-index: 2;
    transition: background-color 0.3s ease, color 0.3s ease;
}

[data-theme="dark"] .dropdown-menu{
    background: #B00000;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-menu li{
    text-align: left;
    margin-bottom: 10px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #fff;
    text-underline-offset: 7px;
}

.dropdown-menu li:hover{
    text-decoration-color: #1A1A1A;
}

.dropdown-menu #nav-link{
    padding: 8px 15px;
    white-space: nowrap;
    gap: 30px;
}

.dropdown:hover .dropdown-menu{
    display: flex;
}

.header-buttons{
    position: relative;
}

.menu-container{
    position: relative;
    display: inline-block;
}

.icons-toggle{
    background: none;
    border: none;
    color: #fff;
    font-size: 1.7vw;
    cursor: pointer;
    transition: color 0.3s ease;
}

.icons-toggle:hover{
    color: #1A1A1A;
}

.icons-dropdown{
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #FF3131;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 100;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    opacity: 0;
    transform: translateY(-10px);
    transition: background-color 0.3s ease, color 0.3s ease;
}

[data-theme="dark"] .icons-dropdown{
    background: #B00000;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-container:hover .icons-dropdown{
    display: flex;
    opacity: 1;
    transform: translateY(0);
}

.dropdown-row{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.color-theme-buttons button{
    background: none;
    border: none;
    color: #fff;
    font-size: 1.7vw;
    cursor: pointer;
    position: relative;
}

.color-theme-buttons button:hover{
    color: #1A1A1A;
}

.color-theme-buttons a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.color-theme-buttons a::after,
.language-buttons i::after{
    content: attr(data-tooltip);
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.8vw;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
}

.color-theme-buttons button:hover a::after,
.language-buttons i:hover::after{
    visibility: visible;
    opacity: 1;
}

.language-buttons i{
    font-size: 1.7vw;
    color: #fff; 
    cursor: pointer;
    position: relative;
}


/*--------------------------------------------------------team-------------------------------------------------------------------*/
#team{
    position: relative;
    padding: 0 0 20px 0;
}

.team-contents{
    position: relative;
    padding: 8% 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: normal;
    gap: 30rem;
}

.team-col1{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: normal;
    gap: 3rem;
}

.team-col1 h1{
    font-size: 2vw;
}

.team-col1 p{
    font-size: 1.3vw;
}

.team-col1-img{
    position: relative;
    display: flex;
    align-self: center;
    width: 90rem;
    user-select: none;
}

.team-col2{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: normal;
    gap: 5rem;
}

.team-col2 h1{
    font-size: 2vw;
    text-align: center;
}

.team-col2-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    align-items: center;
    justify-items: center; 
}

.team-col2-grid > :nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
  
  .team-col2-grid > :nth-child(6) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.col2-admin-member1{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgba(128, 128, 128, 0.2);
    padding: 15px 20px;
    border-radius: 10px;
    height: 500px;
    width: 325px;
}

.col2-admin-member1 img{
    position: relative;
    width: 13vw;
    border-radius: 50%;
    align-self: center;
}

.col2-admin-member1 h3{
    font-size: 1.3vw;
    text-align: center;
}

.col2-admin-member1 p{
    font-size: 0.8vw;
}

.col2-team-member1{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: normal;
    gap: 1rem;
    background-color: rgba(128, 128, 128, 0.2);
    padding: 15px 20px;
    border-radius: 10px;
    height: 500px;
    width: 325px;
}

.col2-team-member1 img{
    position: relative;
    width: 13vw;
    border-radius: 50%;
    align-self: center;
}

.col2-team-member1 h3{
    font-size: 1.3vw;
    text-align: center;
}

.col2-team-member1 p{
    font-size: 0.8vw;
}

.col2-admin-member2{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: normal;
    gap: 1rem;
    background-color: rgba(128, 128, 128, 0.2);
    padding: 15px 20px;
    border-radius: 10px;
    height: 500px;
    width: 325px;
}

.col2-admin-member2 img{
    position: relative;
    width: 13vw;
    border-radius: 50%;
    align-self: center;
}

.col2-admin-member2 h3{
    font-size: 1.3vw;
    text-align: center;
}

.col2-admin-member2 p{
    font-size: 0.8vw;
}

.col2-team-member2{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: normal;
    gap: 1rem;
    background-color: rgba(128, 128, 128, 0.2);
    padding: 15px 20px;
    border-radius: 10px;
    height: 500px;
    width: 325px;
}

.col2-team-member2 img{
    position: relative;
    width: 13vw;
    border-radius: 50%;
    align-self: center;
}

.col2-team-member2 h3{
    font-size: 1.3vw;
    text-align: center;
}

.col2-team-member2 p{
    font-size: 0.8vw;
}

.col2-admin-member3{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: normal;
    gap: 1rem;
    background-color: rgba(128, 128, 128, 0.2);
    padding: 15px 20px;
    border-radius: 10px;
    height: 500px;
    width: 325px;
}

.col2-admin-member3 img{
    position: relative;
    width: 13vw;
    border-radius: 50%;
    align-self: center;
}

.col2-admin-member3 h3{
    font-size: 1.3vw;
    text-align: center;
}

.col2-admin-member3 p{
    font-size: 0.8vw;
}

.col2-team-member3{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: normal;
    gap: 1rem;
    background-color: rgba(128, 128, 128, 0.2);
    padding: 15px 20px;
    border-radius: 10px;
    height: 500px;
    width: 325px;
}

.col2-team-member3 img{
    position: relative;
    width: 13vw;
    border-radius: 50%;
    align-self: center;
}

.col2-team-member3 h3{
    font-size: 1.3vw;
    text-align: center;
}

.col2-team-member3 p{
    font-size: 0.8vw;
}

.team-col3{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: normal;
    gap: 5rem;
}

.team-col3 h1{
    font-size: 2vw;
    text-align: center;
}

.team-col3-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    align-items: center;
    justify-items: center; 
}

.col3-member1{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    gap: 1rem;
    background-color: rgba(128, 128, 128, 0.2);
    padding: 15px 20px;
    border-radius: 10px;
    height: 400px;
    width: 325px;
}

.col3-member1 img{
    position: relative;
    width: 13vw;
    border-radius: 50%;
    align-self: center;
}

.col3-member1 h3{
    font-size: 1.3vw;
    text-align: center;
}

.col3-member2{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    gap: 1rem;
    background-color: rgba(128, 128, 128, 0.2);
    padding: 15px 20px;
    border-radius: 10px;
    height: 400px;
    width: 325px;
}

.col3-member2 img{
    position: relative;
    width: 13vw;
    border-radius: 50%;
    align-self: center;
}

.col3-member2 h3{
    font-size: 1.3vw;
    text-align: center;
}

.col3-member3{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    gap: 1rem;
    background-color: rgba(128, 128, 128, 0.2);
    padding: 15px 20px;
    border-radius: 10px;
    height: 400px;
    width: 325px;
}

.col3-member3 img{
    position: relative;
    width: 13vw;
    border-radius: 50%;
    align-self: center;
}

.col3-member3 h3{
    font-size: 1.3vw;
    text-align: center;
}

.col3-member4{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    gap: 1rem;
    background-color: rgba(128, 128, 128, 0.2);
    padding: 15px 20px;
    border-radius: 10px;
    height: 400px;
    width: 325px;
}

.col3-member4 img{
    position: relative;
    width: 13vw;
    border-radius: 50%;
    align-self: center;
}

.col3-member4 h3{
    font-size: 1.3vw;
    text-align: center;
}

.col3-member5{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    gap: 1rem;
    background-color: rgba(128, 128, 128, 0.2);
    padding: 15px 20px;
    border-radius: 10px;
    height: 400px;
    width: 325px;
}

.col3-member5 img{
    position: relative;
    width: 13vw;
    border-radius: 50%;
    align-self: center;
}

.col3-member5 h3{
    font-size: 1.3vw;
    text-align: center;
}

.col3-member6{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    gap: 1rem;
    background-color: rgba(128, 128, 128, 0.2);
    padding: 15px 20px;
    border-radius: 10px;
    height: 400px;
    width: 325px;
}

.col3-member6 img{
    position: relative;
    width: 13vw;
    border-radius: 50%;
    align-self: center;
}

.col3-member6 h3{
    font-size: 1.3vw;
    text-align: center;
}

.col3-member7{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    gap: 1rem;
    background-color: rgba(128, 128, 128, 0.2);
    padding: 15px 20px;
    border-radius: 10px;
    height: 400px;
    width: 325px;
}

.col3-member7 img{
    position: relative;
    width: 13vw;
    border-radius: 50%;
    align-self: center;
}

.col3-member7 h3{
    font-size: 1.3vw;
    text-align: center;
}

.col3-member8{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    gap: 1rem;
    background-color: rgba(128, 128, 128, 0.2);
    padding: 15px 20px;
    border-radius: 10px;
    height: 400px;
    width: 325px;
}

.col3-member8 img{
    position: relative;
    width: 13vw;
    border-radius: 50%;
    align-self: center;
}

.col3-member8 h3{
    font-size: 1.3vw;
    text-align: center;
}


/*--------------------------------------------------------footer-------------------------------------------------------------------------------*/

footer{
    width: 100%;
    position: relative;
    bottom: 0px;
    background: linear-gradient(to right, #FF3131, #B00000);
    color: #fff;
    padding: 3% 0;
}

.footer-class{
    position: relative;
    display: flex;
    bottom: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer-content{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: normal;
    justify-content: center;
    gap: 2%;
}

.footer-col1{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 45%;
}

.footer-col1 h1{
    font-size: 2vw;
}

.footer-col1 p{
    font-size: 1.3vw;
}

.footer-col1-portfolio-button{
    display: block;
    width: 235px;
    text-align: center;
    border: 2px solid #F5F5F5;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    white-space: nowrap;
    font-size: 1.7vw;
    color: #fff;
    background: transparent;
    transition: background-color 0.5s;
    cursor: pointer;
}

.footer-col1-portfolio-button:hover{
    background-color: #a10101;
    color: #1A1A1A;
    border: 2px solid #1A1A1A;
}

.footer-col2{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    word-wrap: nowrap;
    text-align: center;
}

.footer-col2 h1{
    font-size: 2vw;
}

.footer-col2 p{
    font-size: 1.3vw;
}

.footer-download-button{
    display: block;
    width: 250px;
    font-size: 1.5vw;
    text-align: center;
    border: 2px solid #F5F5F5;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    background: transparent;
    transition: background-color 0.5s;
}

.footer-download-button:hover{
    background-color: #a10101;
    color: #1A1A1A;
    border: 2px solid #1A1A1A;
}

.verticalline-divider{
    position: relative;
    width: 10px; 
    height: 300px; 
    background: linear-gradient(to bottom, transparent, #020219, transparent); 
}

.footer-col3{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 30rem;
}

.footer-col3 h1{
    font-size: 2vw;
}

#contact-us-button{
    display: block;
    width: 250px;
    font-size: 1.5vw;
    text-align: center;
    border: 2px solid #F5F5F5;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    background: transparent;
    transition: background-color 0.5s;
}

#contact-us-button:hover {
    background-color: #a10101;
    color: #1A1A1A;
    border: 2px solid #1A1A1A;
}

.footer-col3-icons{
    display: flex;
    flex-direction: row;
    gap: 25px;
    height: fit-content;
    text-align: center;
    margin-top: -5%;
}

.contactme-email, .contactme-phonenumber, .contactme-linkedin, .contactme-github{
    color: #F5F5F5;
    font-size: 25px;
}

.footer-col3-icons a:hover{
    color: #1A1A1A;
}

.footer-copyright{
    margin-top: 2%;
    font-size: 1.3vw;
}


















@media (prefers-color-scheme: light) {
    :root {
        --background-color-light: #F5F5F5;
        --text-color-light: #000;
    }

    [data-theme="light"] {
        background-color: var(--background-color-light);
        color: var(--text-color-light);
    }
}











@media (max-width: 991px)
{

    .back-to-top a{
        width: clamp(6rem, 9vw, 7rem);
        height: clamp(6rem, 9vw, 7rem);
    }

    .navbar{
        padding: 10px 20px;
        height: 150px;
        width: 100%;
        top: 0;
    }
    
    .navbar-placeholder {
        height: 150px;
    }
    
    #nav-link{
        font-size: 2.5vw;
    }
    
    .icons-toggle{
        font-size: 6vw;
    }
    
    .color-theme-buttons button{
        font-size: 6vw;
    }
    
    .language-buttons i{
        font-size: 6vw;
    }




    .team-col1 h1{
        font-size: 5vw;
    }

    .team-col1 p{
        font-size: 3vw;
    }

    .team-col1-img{
        width: 90rem;
    }

    .team-col2 h1{
        font-size: 5vw;
    }

    .team-col2-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 3rem;
    }

    .team-col2-grid > :nth-child(5),
    .team-col2-grid > :nth-child(6) {
        grid-column: auto;
        grid-row: auto;
    }

    .team-col3-grid{
        display: grid; 
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(4, 1fr);
    }

    
    .col2-admin-member1 img{
        width: 23vw;
    } 

    .col2-admin-member1 h3{
        font-size: 4vw;
    } 

    .col2-admin-member1 p{
        font-size: 1.5vw;
    } 

    .col2-team-member1 img{
        width: 20vw;
    } 

    .col2-team-member1 h3{
        font-size: 4vw;
    } 

    .col2-team-member1 p{
        font-size: 1.5vw;
    } 

    .col2-admin-member2 img{
        width: 23vw;
    } 

    .col2-admin-member2 h3{
        font-size: 4vw;
    } 

    .col2-admin-member2 p{
        font-size: 1.5vw;
    } 

    .col2-team-member2 img{
        width: 20vw;
    } 

    .col2-team-member2 h3{
        font-size: 4vw;
    } 

    .col2-team-member2 p{
        font-size: 1.5vw;
    } 

    .col2-admin-member3 img{
        width: 23vw;
    } 

    .col2-admin-member3 h3{
        font-size: 4vw;
    } 

    .col2-admin-member3 p{
        font-size: 1.5vw;
    } 

    .col2-team-member3 img{
        width: 20vw;
    } 

    .col2-team-member3 h3{
        font-size: 4vw;
    } 

    .col2-team-member3 p{
        font-size: 1.5vw;
    } 

    .team-col3 h1{
        font-size: 5vw;
    } 

    .col3-member1 img{
        width: 23vw;
    } 

    .col3-member1 h3{
        font-size: 4vw;
    } 

    .col3-member2 img{
        width: 23vw;
    } 

    .col3-member2 h3{
        font-size: 4vw;
    } 

    .col3-member3 img{
        width: 23vw;
    } 

    .col3-member3 h3{
        font-size: 4vw;
    } 

    .col3-member4 img{
        width: 23vw;
    } 

    .col3-member4 h3{
        font-size: 4vw;
    } 

    .col3-member5 img{
        width: 23vw;
    } 

    .col3-member5 h3{
        font-size: 4vw;
    } 

    .col3-member6 img{
        width: 23vw;
    } 

    .col3-member6 h3{
        font-size: 4vw;
    } 

    .col3-member7 img{
        width: 23vw;
    } 

    .col3-member7 h3{
        font-size: 4vw;
    } 

    .col3-member8 img{
        width: 23vw;
    } 

    .col3-member8 h3{
        font-size: 4vw;
    } 

    .footer-content{
        padding: 2% 5%;
        gap: 2%;
    }

    .footer-col1 h1{
        font-size: 3.5vw;
    }
    
    .footer-col1 p{
        font-size: 2.5vw;
    }
    
    .footer-col1-portfolio-button{
        font-size: 3.5vw;
    }

    .footer-col1-p2{
        display:none;
    }

    .footer-col2 h1{
        font-size: 3.5vw;
    }
    
    .footer-col2 p{
        font-size: 2.5vw;
    }
    
    .footer-download-button{
        font-size: 2.5vw;
    }

    .footer-col3 h1{
        font-size: 3.5vw;
    }

    #contact-us-button{
        font-size: 2.5vw;
    }

    .contactme-email, .contactme-phonenumber, .contactme-linkedin{
        font-size: 30px;
    }

    .footer-copyright{
        font-size: 2.5vw;
    }
}






